
@{
    ViewBag.Title = "Iniciar Sesion";
}
@model proyecto.Models.ViewModels.Usuario
<h2>Iniciar Sesion</h2>
<div class="centro">
    <div class="container center-block">
        <form method="post">
            @Html.LabelFor(p => p.Nombre)
            <br />
            @Html.TextBoxFor(p => p.Nombre)
            <br />
            @Html.LabelFor(p => p.Contrasena)
            <br />
            @Html.PasswordFor(p => p.Contrasena)
            <br />
            <div class="left margen">
                <input type="submit" value="Ingresar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
